<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand p-2" href="/">
    BlogPess
  </a>
  <ul class="navbar-nav m-auto">
    <li class="nav-item">
      <a class="nav-link" href="/admin/categories">Categorias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/articles">Artigos</a>
    </li>
  </ul>
</nav>