form { 
  display: inline-block;
}

.full-width {
  width: 100%;
}

.table-list td:first-child {  width: 5% }
.table-list td:first-child + td + td + td {  width: 20% }

label {
  width: 100%;
}

.navbar-nav {
  flex-direction: row;
}

.nav-item {
  margin: 0 5px;
}